@import "../../styles/main";

.container {
  height: 122px;
  background-color: $gray;
  @include flex();
}

.containerS{
  height: 80px;
  background-color: $backgroundd;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  color: white;
}

// ========================
// Header left

.buttons {
  @include flex($content: space-around);
}

// Badge - shopping cart
.badge {
  background: $red_1;
  border-radius: 30px;
  padding: 8px;
  cursor: pointer;

  svg {
    color: $white;
  }
}
