@import "../../../styles/main";

.container {
  @include flex();

  a {
    text-decoration: none;
    margin-right: 20px;
    letter-spacing: 0.03em;
    font-weight: 500;
    line-height: 24px;
    color: $gray_3;
    font-family: $Roboto;
    font-size: $medium;
  }

  @include breakpoint($size: medium) {
    display: none;
  }
}
