@import "../../../styles/main";

.container {
  @include flex();

  a {
    text-decoration: none;
    margin-right: 20px;
    color: $gray_4;
    font-family: $Roboto;
  }

  @include breakpoint($size: medium) {
    display: none;
  }
}
