@import "../../styles/main.scss";

.button {
  border-radius: 30px;
  height: 41px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 3%;
  line-height: 24px;
  color: $white;
  background: $red_1;
}
