@import "../main";

.container {
  padding: 0 10px;
  margin-top: 70px;

  &__title {
    @include section_title;
  }

  &__accordion {
    max-width: 70%;
    margin: 0 auto;

    @include breakpoint($size: small) {
      max-width: 95%;
      margin-top: 40px;
    }
  }
}
