@import "../main";

.container {
  a {
    text-decoration: none;
  }

  display: flex;
  width: 100%;
  margin-bottom: 150px;
  padding-left: 0;

  &__left {
    width: 251px;
    height: 898px;
    background: #f3f4f6;
    overflow-y: auto;
    border-radius: 4px;

    &__list {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-left: 0;
      width: 100%;

      :hover {
        color: $red_1;
        background: #f0e1e1;
        transition: ease-in-out 0.4s;
      }

      &__item {
        font-family: $Mukta;
        font-weight: 600;
        font-size: $large;
        line-height: 24px;
        letter-spacing: 0.03em;
        cursor: pointer;
        min-height: 40px;
        width: 90%;
        margin: 0 auto;
        margin: 10px 0;
        display: flex;
        align-items: center;
        border-radius: 4px;

        img {
          padding-left: 10px;
        }

        span {
          padding-left: 10px;
        }
      }
    }
  }

  &__right {
    flex: 1;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(14.69rem, 1fr));
    padding-left: 20px;
  }
}

.active {
  color: $red_1;
  background: #f0e1e1;
  transition: ease-in-out 0.4s;
}
