.layoutContainer {
  .headerContainer {
    width: 95vw;
    margin: 20px auto;
  }
  // .contentContainer {
  // max-height: 100vh;
  // margin: 2rem 0 5rem 0;
  // }
  .footerContainer {
    margin-top: 3rem;
  }
}
