@import "../../styles/main";

.layoutContainer {
  .headerContainer {
    width: 95vw;
    margin: 20px auto;
  }
  .contentContainer {
    width: 95vw;
    margin: 0 auto;
  }
  // height: 100vh;
  // margin: 2rem 0 10rem 0;

  // @include breakpoint($size: small) {
  //   height: auto;
  //   margin-bottom: 0;
  // }
  // }
  .footerContainer {
    margin-top: 3rem;
  }
}
