@import '../../../styles/main.scss';

.title {
  padding: 20px 30px 10px;
  font-family: $Mukta;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.03em;
  color: $gray_2;
}

.form_control {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}
