$gray: #f3f4f6;
$gray_2: #4f4f4f;
$gray_3: #828282;
$gray_4: #bdbdbd;
$gray_5: #8d888d;
$orange_1: #ffb64f;
$orange: #ffb64f;
$black: #000;
$black_2: #323232;
$red_1: #d63626;
$red_2: #f7cbc7;
$backgroundd: #d63626;
$mainBlack: #181617;
$white: #fff;
