// ===============================================================
// d i s p l a y ~ f l e x
@mixin flex($align: center, $direction: row, $content: null) {
  display: flex;
  align-items: $align;
  flex-direction: $direction;
  justify-content: $content;
}

// ===============================================================
// P a g e s ~ t i t l e
@mixin section_title {
  color: #000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.15px;
}

